.dashboard-header {
    width: 1215px;
    padding-top:20px;
    padding-bottom: 20px;
    border: 2px solid var(--color-border-background-3);
    box-sizing: border-box;
    border-radius: 0px 10px 0px 0px;
    padding-left: 60px;
    background-color: var(--color-primary-background);
}

.back-arrow {
    margin-right: 10px;
}

.dashboard-path {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium-2);
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: left;
    color: var(--color-text-1);
    cursor: pointer;
    margin-top: 10px;
}

.dashboard-path-name {
    color: var(--color-text-7);
    text-transform: uppercase;
    font-size: var(--font-size-small-2);
}

.dashboard-dex {
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-size-small-2);
    line-height: 36px;
    color: var(--color-text-1);
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
}

.dashboard-dex-btns {
    float: right;
}

.dex-name {
    color: var(--color-text-6);
}