.main-dashboard-path-name {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-1);
  font-size: calc(20px + 8 * ((100vw - 320px) / 680));
  line-height: 36px;
  /* or 138% */

  display: flex;
  align-items: center;

  /* Gray 6 */
  text-transform: capitalize;
  color: var(--color-text-3);
}

.main-dashboard-contents {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-1);
  font-size: var(--font-mobile-4);
  line-height: 24px;
  margin-top: 12px;
  align-items: center;
  color: var(--color-text-4);
}

.main-dashboard-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border: 3px solid var(--color-border-background-1);
  border-radius: 10%;
  background-color: var(--color-secondary-background);
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 12px;
  cursor: pointer;
}

.dashboard-icon#active-path {
  border: 3px solid var(--color-border-background-2);
}
