.dashboard-token-btn {
  background: var(--color-secondary-background);
  border-radius: 10px;
  font-family: var(--font-family-primary);
  font-size: 11px;
  font-style: normal;
  font-weight: var(--font-weight-1);
  line-height: 36px;
  letter-spacing: 0.1em;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-text-4);
  height: 36px;
  margin-top: 10px;
  width: -webkit-fill-available;
}

.dashboard-table-token-btn {
  background: var(--color-secondary-background);
  border-radius: 10px;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-small-4);
  font-style: normal;
  font-weight: var(--font-weight-1);
  line-height: 36px;
  letter-spacing: 0.1em;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-text-4);
  height: 36px;
  margin-top: 15px;
  width: -webkit-fill-available;
}

button.dashboard-token-btn,
button.dashboard-table-token-btn {
  border-style: none;
  border-color: transparent;
}

.dashboard-table-token-balance {
  font-size: var(--font-size-small-3);
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.dashboard-table-token-name {
  font-family: var(--font-family-secondary);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-small-3);

  /* or 225% */
  align-items: center;

  /* Gray 3 */

  color: var(--color-text-5);
}

.dashboard-table-token-symbol {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-small-1);

  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-text-4);
}

.dashboard-table-token-detail {
  margin-left: 20px;
}

.dashboard-table-tokens > .row > .col > .lp-token-selector {
  width: 58px;
  height: 58px;
  background-size: contain;
}

.dashboard-table-tokens > .row > .col > .lp-token-selector > .lp-token-background {
  width: 38px;
  height: 38px;
  background-size: contain;
}