.input-token-section {
  margin-top: 30px;
}

.input-btn {
  margin-top: 35px;
}

.remix-dex {
  float: right;
  font-style: normal;
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-small-2);
  line-height: 36px;
}
.remix-dex-btns {
  float: right;
  margin-top: -10px;
}

.remix-row {
  padding: 15px 0px;
  font-family: var(--font-family-primary);
  color: var(--color-text-1) !important;
  font-style: normal;
  font-weight: var(--font-weight-1);
  align-items: center;
  letter-spacing: 0.05em;
  margin-right: auto!important;
}

.input-token-section > .home-table-body > .remix-row:hover,
.input-token-section > .home-table-body > .remix-row-selected {
  border-color: var(--color-border-background-2);
  border-radius: 10px;
  border-style: dashed;
  border-width: 1px;
  overflow: hidden;
  cursor: pointer;
}

.remix-tokens {
  display: flex;
  max-width: fit-content !important;
}

.remix-tokens > .lp-token-selector {
  width: 72px;
  height: 72px;
  background-size: contain;
}

.remix-tokens > .lp-token-selector > .lp-token-background {
  width: 51px;
  height: 51px;
  background-size: contain;
}

.remix-pair-icon {
  margin-top: 13px;
  width: 13px;
  height: 46px;
  position: absolute;
  left: 80px;
}

.remix-pair-text {
  font-size: var(--font-size-small-1);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-text-4);
}

.remix-pair-dex {
  font-size: var(--font-size-small-2);
  display: flex;
  align-items: center;
  color: var(--color-text-5);
}

.remix-pair-amount {
  font-family: var(--font-family-secondary);
  font-weight: normal;
  font-size: var(--font-size-small-1);
  display: flex;
  align-items: center;
  color: var(--color-text-5);
}

@media screen and (min-width: 1024px) {
  .select-token-pair-section {
    margin-top: 50px;
  }
  .remix-pair-amount {
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .select-token-pair-section {
    margin-top: 20px;
  }
  .remix-pair-dex {
    margin: 10px;
  }
}