.modal-header.awaiting-txn-header {
  background: var(--color-secondary-background) !important;
  border-bottom: none !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.awaiting-txn-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-secondary-background) !important;
  border-radius: 0px 0px 10px 10px;
}

.awaiting-txn-text {
  font-family: var(--font-family-tertiary);
  font-size: var(--font-size-medium-1);
  font-style: normal;
  font-weight: var(--font-weight-2);
  line-height: 36px;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--color-text-6);
}

.spinner {
  margin-top: 15px;
}

.awaiting-txn-desc {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-1);
  line-height: 28px;
  text-align: center;
  color: var(--color-text-7);
  width: 400px;
  margin-top: 15px;
}

.awaiting-txn-confirm {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-1);
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--color-text-5);
  margin-top: 25px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .awaiting-txn-confirm {
    font-size: var(--font-size-small-3);
  }

  .awaiting-txn-desc {
    font-size: var(--font-size-small-2);
  }
}

@media screen and (min-width: 1024px) {
  .awaiting-txn-confirm {
    font-size: var(--font-size-small-2);
  }

  .awaiting-txn-desc {
    font-size: 24px;
  }

  .awaiting-txn-text {
    width: 50%;
  }

  .awaiting-txn-desc-line-break {
      display: none;
  }
}
