.input-amount {
    font-family: var(--font-family-primary);
    font-style: normal !important;
    font-weight: var(--font-weight-1) !important;
    letter-spacing: 0.1em;
    height: 61px !important;
    border-radius: 10px !important;
    text-transform: uppercase;
    box-shadow: none;
}

.input-amount.btn-primary {
    background: var(--color-button-background);
    color: var(--color-text-4) !important;
}

.input-amount.btn-primary:disabled {
    background: var(--color-secondary-background);
    color: var(--color-text-8);
    border: none;
}

.input-amount.btn-primary.confirm-lp:hover {
    background: var(--color-gradient-background);
    color: var(--color-text-4) !important;
}

@media screen and (max-width: 1024px) {
    .input-amount {
        line-height: 36px; 
        margin-bottom: 35px;
    }
    .input-amount.btn-primary:disabled {
        white-space: nowrap;
        font-size: var(--font-mobile-1)!important;
    }
    .input-amount.btn-primary.confirm-lp {
        font-size: var(--font-mobile-1)!important;
    }
  }

  @media screen and (min-width: 1024px) {
    .input-amount {
        width: 782px !important;
        font-size: var(--font-size-small-3) !important;
    }
  }
  