.remix-select-dex {
  margin: 50px 0px;
}
.remix-select-tokens {
  margin-bottom: 70px;
}
.remix-select-dex-header {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-small-3);
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-text-3);
}

.remix-txn-settings-mobile-btn {
  right: 20px;
  top: 20px;
  position: absolute;
  z-index: 10;
}
