.header {
    margin-top: 45px;
    width: 1310px;
    height: 36px;
    margin-left: 3px !important;
}

.header-btn {    
    background: #191E3A;
    border-radius: 10px;
    font-family: 'Nova Mono Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.1em;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #E0E0E0;
    margin-left: 15px;
    padding-left: 0px;
    width: 130px;
    height: 36px;
}

.header-btn:hover {
    background: linear-gradient(270deg, #7AC2E8 0%, #236EDC 100%);
}

.header-btn img {
    margin-right: 5px;
    margin-top: -2px;
}

button.header-btn {
    border-style: none;
    border-color: transparent;
}

.user-info {
    float: right;
}