.logo {
    cursor: pointer !important;
}
.header-btn {    
    background: var(--color-secondary-background);
    border-radius: 10px;
    font-family: var(--font-family-secondary);
    
    font-style: normal;
    font-weight: var(--font-weight-2);
    line-height: 38px;
    letter-spacing: 0.1em;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-text-4);
    margin-left: 15px;
    height: 36px;
}

.header {
    height: 36px;
    margin-left: 3px !important;
}

.header-btn:hover {
    background: var(--color-gradient-background);
}

.header-btn img {
    margin-right: 5px;
    margin-top: -2px;
}

button.header-btn {
    border-style: none;
    border-color: transparent;
}

.circle {
    position: absolute;
    top: 25%;
    margin-left:-10px;
    width: 10px;
    height: 10px;
    background-color: var(--color-button-background);
    border-radius: 50%;
}

.errors {
    color:red;
    font-family: var(--font-family-primary);
}

@media screen and (max-width: 1024px) and (min-width: 360px) {
    .header {
        margin-top: 30px;
        margin-bottom: 70px;
        width: 100%;
    }
    .errors {
        font-size:12px;
        text-align: center;
    }

    .header-btn { 
        font-size: var(--font-mobile-2);   
        min-width: 40%;
    }

    .user-info {
        margin-top: 15px;
    }
  }

  @media screen and (max-width: 360px) {
    .errors {
        font-size:10px;
        text-align: center;
    }
    .header {
        margin-top: 30px;
        margin-bottom: 70px;
        width: 100%;
    }

    .user-info {
        margin-top: 15px;
    }
    .header-btn { 
        font-size: calc(3vw);   
        min-width: 20%;
        margin-left: 10px;
    }
  }

  @media screen and (min-width: 1024px) {
    .header {
        margin-top: 45px;
        width: 1290px;
    }

    .header-btn {   
        font-size: var(--font-size-small-4);  
        min-width: 130px;
    }

    .user-info {
        float: right;
    }
  }