.mobile-action-btns {
  margin-top: -20px;
  margin-bottom: 20px;
  width: -webkit-fill-available;
  border: 3px solid var(--color-border-background-3);
  border-radius: 5px;
}
.mobile-action-btns .btn {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-small-3);
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--color-text-5);
  background: var(--color-primary-background);
  border: none;
  border-radius: 5px;
}

.mobile-action-btns .btn:hover {
  color: var(--color-text-3);
  background-color: var(--color-primary-background);
}

.mobile-action-btns .btn#active-btn {
  color: var(--color-text-9);
  background: var(--color-gradient-background);
  border-radius: 5px;
  box-shadow: none;
}
