.select-token {
    display: flex;
    cursor: pointer;
}

.token-selector-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    border: 3px solid #050818;
    border-radius: 10%;
    background-color: #191E3A;

}
.token-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    border: 2px solid #236EDC;
    border-radius: 50%;
}

.select-token-text {
    font-family: "Azo Sans Regular";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #828282;
    width: 100px;
    word-wrap: break-word;
    margin-top: 20px;
    margin-left: 20px;
}

.select-token-text img, 
.selected-token-symbol img{
    padding-left: 5px;
}

.selected-token{
    display: block;
    margin-top: 10px;
}

.selected-token-name {

    font-family: 'Nova Mono Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    color: #828282;
    margin-left: 10px;
}

.selected-token-symbol {
    font-family: "Azo Sans Regular";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    color: #E0E0E0;
    text-transform: uppercase;
    margin-left: 10px;
}

.pair-icon {
    margin-left: 35px;
    margin-top: -10px;
    z-index: 99;
    position: absolute;
}

.lp-token1 {
    z-index: 10;
}

.lp-token2 {
    margin-top: 18px;
    z-index: 10;
}