.token-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    background: url('../../assets/images/ellipse.svg');
    background-repeat: no-repeat;
}

.token-background  .token-selected-icon{
  border-radius: 50%;
}

.select-token-text {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium-2);
    font-style: normal;
    font-weight: var(--font-weight-1);
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-text-5);
    width: 100px;
    word-wrap: break-word;
    margin-top: 20px;
    margin-left: 20px;
}

.select-token-text img, 
.selected-token-symbol img{
    padding-left: 5px;
}

.selected-token{
    display: block;
    margin-top: 10px;
}

.selected-token-name {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-small-3);
    font-style: normal;
    font-weight: var(--font-weight-2);
    line-height: 36px;
    letter-spacing: 0em;
    color: var(--color-text-5);
    margin-left: 10px;
}

.selected-token-symbol {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-large-2);
    font-style: normal;
    font-weight: var(--font-weight-1);
    line-height: 36px;
    letter-spacing: 0em;
    color: var(--color-text-4);
    text-transform: uppercase;
    margin-left: 10px;
}

.lp-token1 {
    z-index: 10;
}

.lp-token2 {
    margin-top: 15px;
    z-index: 10;
}

.select-lp2-token > .input-group {
    margin-top: 20px;
}

input.input-token-text:focus {
    color:  var(--color-text-3);
}

input.input-token-text::placeholder { 
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-medium-2);
    font-style: normal;
    font-weight: var(--font-weight-2);
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: left;    
    color:  var(--color-text-8);
}

input.input-token-text::-ms-input-placeholder { 
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-medium-2);
    font-style: normal;
    font-weight: var(--font-weight-2);
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: left;    
    color:  var(--color-text-8);
}

input.input-token-text.form-control:disabled,
input.input-token-text:focus {
    border: 3px solid var(--color-border-background-3);
    box-shadow: none;
    opacity: 1;
    background-color: var(--color-input-background);
}

.input-disabled{
    opacity: 0.3;
    color: var(--color-text-4);
}

.input-disabled:hover .div.select-token {
    cursor: default;
}

.input-group-append > #max-token {
    font-family: var(--font-family-tertiary);
    font-size: var(--font-size-small-2);
    font-style: normal;
    font-weight: var(--font-weight-2);
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--color-text-7);
    border: none;
    background-color: var(--color-input-background);
}

input.input-token-text {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-medium-2);
    font-style: normal;
    font-weight: var(--font-weight-2);
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: left;
    border: 3px solid var(--color-border-background-3);
    border-radius: 10px;
    color: var(--color-text-3);
    background-color: var(--color-input-background);
  }

#max-token img {
    margin-top: -3px;
    margin-left: 5px;
}

.supply-token {
    padding-left: 20px;
    cursor:auto;
}

.supply-token-amount {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium-2);
    font-style: normal;
    font-weight: var(--font-weight-1);
    letter-spacing: 0.05em;
    color: var(--color-text-3);
}

.supply-token-amount-usd {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-small-2);
    font-style: normal;
    font-weight: var(--font-weight-2);
    color: var(--color-text-5);
}

/* Selector for Paired LP tokens */
.horizontal-lp-view{
    display: flex;
    flex-direction: row;
}

.lp-token-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border: 3px solid var(--color-border-background-1);
    border-radius: 10%;
    background-color: var(--color-secondary-background);
}

.lp-token-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    background: url('../../assets/images/ellipse.svg');
    background-repeat: no-repeat;
}

.lp-token-background  .lp-token-selected-icon{
  border-radius: 50%;
}

.lp-pair-icon {
    margin-top: 15px;
}

.lp-pair-info {
  margin-left: 10px;
    display: flex;
    flex-direction: column;
  overflow-wrap: anywhere;
}

.lp-pair-text{
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: var(--font-weight-1);
    line-height: 36px;
    letter-spacing: 0.05em;
    color: var(--color-text-3);
    text-transform: uppercase;
}

.lp-pair-desc {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-small-2);
    font-style: normal;
    font-weight: var(--font-weight-1);
    line-height: 20px;
    letter-spacing: 0em;
    color: var(--color-text-3);
}

.lp-pair-dex {
  color: var(--color-text-6);
}

.token-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--color-border-background-1);
    border-radius: 10%;
    background-color: var(--color-secondary-background);
  }

@media screen and (max-width: 1024px) {
  .select-token,
  .select-input-token,
  .select-lp1-token,
  .select-lp2-token {
    cursor: pointer;
  }

  .select-token {
    display: inline-flex;
  }

  .select-lp1-token > .input-group {
    display: none;
  }

  .select-lp2-token > .input-group {
    display: none;
  }
  .select-input-token > .input-group,
  .select-lp1-token > .input-group,
  .select-lp2-token > .input-group {
    width: 100%;
    margin-top: 20px;
  }

  .token-selector {
    width: 76px;
    height: 76px;
  }

  input.input-token-text {
    height: 62px;
  }

  .input-group-append {
    height: 56px;
    margin: 3px;
}

.pair-icon {
  margin-left: 32px;
  margin-top: -15px;
  z-index: 99;
  position: absolute;
}

  .horizontal-lp-view > .select-token > .lp-token-selector {
    width: 58px;
    height: 58px;
  }

  .lp-token-background {
    width: 42px;
    height: 42px;
    background-size: contain;
  }

  .lp-token-background > .lp-token-selected-icon {
    width: 36px;
    height: 36px;
  }
  .lp-pair-icon {
    margin-top: 10px;
    width: 13px;
    height: 36px;
  }
  .lp-pair-text {
    font-size: var(--font-mobile-3);
  }
  .lp-pair-desc {
    font-size: var(--font-mobile-4);
  }
}

@media screen and (min-width: 1024px) {
  .select-token,
  .select-input-token,
  .select-lp1-token,
  .select-lp2-token {
    display: flex;
    cursor: pointer;
  }

  .select-input-token > .input-group,
  .select-lp1-token > .input-group,
  .select-lp2-token > .input-group {
    position: absolute;
    width: 504px;
    margin-left: 280px;
  }

  .token-selector {
    width: 85px;
    height: 85px;
  }

  input.input-token-text {
    height: 87px; 
  }

  .input-group-append {
    height: 80px;
    margin-top: 3px;
}
.pair-icon {
  margin-left: 35px;
  margin-top: -10px;
  z-index: 99;
  position: absolute;
}

  .lp-pair-info {
    margin-top: 10px;
  }
  .lp-pair-text {
    font-size: var(--font-size-medium-1);
  }
}
