.left-sidebar-sushi.col-lg-3,
.left-sidebar-uni.col-lg-3{
    padding: 0px;
}

.dashboard-sidebar,
.left-sidebar-sushi,
.left-sidebar-uni {
    position: relative;
    z-index:999;
    background: #191E3A;
    border-radius: 10px 0px 0px 10px;
}

.left-sidebar-uni:before {
    background-image: url('../../assets/images/uni.png');
}

.left-sidebar-sushi:before {
    background-image: url('../../assets/images/sushi.png');
}

.left-sidebar-uni:before,
.left-sidebar-sushi:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.04;
    background-repeat: no-repeat;
    background-size: 242px 306px;
    background-position: right bottom;
}

.left-sidebar-wrapper {
    padding-left: 35px;
    padding-right: 35px;
}

.left-action img {
    margin-top: 10px;
}

.dex-stats {
    margin-top: 20px;
}

.dex-stats-header {
    font-family: "Azo Sans Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #E0E0E0;
    text-transform: uppercase;
}

.dex-stats-key {
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: "Azo Sans Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #828282;
}

.dex-stats-value {
    margin-top: -15px;
    font-family: 'Nova Mono Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #62B0E5;
}

.faq1,
.faq {
    margin-top: 50px;
    margin-bottom: 24px;
    font-family: "Azo Sans Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #E0E0E0;
}

.faq img,
.faq1 img {
    margin-top: 4px;
    margin-right: 10px;
}

.dex-text {
  padding-left: 15px;
  padding-right: 15px;
}

/* Dashboard Sidebar Styling */

.dashboard-sidebar {
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border: 3px solid #050818;
    border-radius: 10%;
    margin-top: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}

.dashboard-icon#active-path {
    border: 3px solid #236EDC;
}

.dashboard-icon-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    border-radius: 50%;
  border: 3px solid #236EDC;
}

/* CSS for bottom sidebar Wrapper */
.bottom-sidebar-wrapper {
  z-index: 999;
  background: #191e3a;
  border-radius: 25px 25px 0px 0px;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  bottom: 0%;
  width: 100%;
  overflow-y: scroll;
  max-height: 100%;
}

.bottom-header {
  /* justify-content: center; */
  margin:15px;
  display: flex;
}

.display-header-button {
  width:10%;
}

.display-header-text {
  font-family: "Azo Sans Regular";
  font-style: normal;
  font-weight: 600;
  font-size: calc(0.7em + 1vw);
  line-height: 36px;
  width:90%;
  display: flex;
  /* align-items: center; */
  letter-spacing: -0.02em;
  color: #62b0e5;
  /* justify-content: center; */
}

.faq1 { 
    margin-top: 220px;
    margin-left: 2px;
}

.select-lp-generate {
margin: 20px 0;
width: 100%;
height: 61px;
font-family: "Azo Sans Regular";
font-style: normal;
font-weight: 600!important;
line-height: 36px!important;
/* or 225% */
justify-content: center;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .left-action {
    margin-top: 45px;
    margin-bottom: 20px;
}
  .dex-text {
    position: relative;
    width: 100%;
  }
  .select-lp-generate {
    font-size: 12px!important;
    display: none!important;
    }
}

@media screen and (max-width: 1024px) {
  .left-action {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .dex-img {
    display: none;
  }

  .dex-buttons {
    margin-top:30px;
    margin-bottom:10px;
  }
  .select-lp-generate {
    font-size: calc(0.6em + 1.4vw)!important;
  }
  .action-btns {
  width: -webkit-fill-available;
  }
}
