.copyright {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Azo Sans Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #62B0E5;
}
