.copyright {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-size-small-5);
    line-height: 36px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-text-6);
}

@media screen and (max-width: 1024px) {
    .copyright {
       display: none;
    }
  }