.text-theme {
  color: var(--color-text-3)
}
/* Global Modal Styling*/
.modal-content {
  border-radius: 10px !important;
  border: none !important;
  background: none !important;
}

.modal-header {
  background: var(--color-gradient-background);
  border-bottom: none !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.modal-title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-small-2);
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 0.1em;
  text-align: left;
  color: var(--color-text-9);
  text-transform: uppercase;
}

.modal-header button.close {
  background: url(./assets/images/close.svg) 0 0 no-repeat;
  display: block;
  height: 10px; /* your image height */
  text-indent: -99999em;
  width: 10px; /* your image width */
  overflow: hidden;
  margin-top: 5px;
  margin-right: 5px;
}

.modal-body {
  overflow-y: auto;
  padding: 0px !important;
}

/* Styling for the Dex and Action Buttons*/
.action-btns {
  width: 255px;
  border: 3px solid var(--color-border-background-3);
  border-radius: 5px;
}
.action-btns .btn {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-small-3);
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--color-text-5);
  background: var(--color-primary-background);
  border: none;
  border-radius: 5px;
}

.action-btns .btn:hover {
  color: var(--color-text-3);
  background-color: var(--color-primary-background);
}

.action-btns .btn#active-btn {
  color: var(--color-text-9);
  background: var(--color-gradient-background);
  border-radius: 5px;
  box-shadow: none;
}

// Dashboard table Styling
.dashboard-table {
  font-family: var(--font-family-primary);
  color: var(--color-text-1) !important;
  font-style: normal;
  font-weight: var(--font-weight-1);
  align-items: center;
  letter-spacing: 0.05em;
}

.dashboard-table-header {
  text-transform: uppercase;
  color: var(--color-text-5) !important;
  padding: 10px 40px;
  font-size: var(--font-size-small-3);
}

.dashboard-table-body {
  padding: 20px 20px;
  font-size: var(--font-size-small-2);
  background-color: var(--color-primary-background);
  display: block;
  height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 20px;
}

.home-table-body {
  display: block;
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.dashboard-table-row {
  padding: 15px 20px;
}

.dashboard-table-row:hover {
  border-color: var(--color-border-background-2);
  border-radius: 10px;
  border-style: dashed;
  border-width: 1px;
  overflow: hidden;
  cursor: pointer;
}


/*Main Wrapper CSS that is shared*/
.main-dashboard-wrapper,
.main-wrapper {
  background: var(--color-tertiary-background);
  border-radius: 10px;
}

.main-header-text {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-medium-2);
  line-height: 36px;
  letter-spacing: 0.1em;
  color: var(--color-text-4);
}

.main-wrapper {
  border-radius: 0px 10px 0px 0px;
}
.main-wrapper.col-lg-9 {
  padding-left: 0px;
  padding-right: 0px;
}

.main-wrapper-header {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-medium-2);
  line-height: 36px;
  text-align: left;
  color: var(--color-text-1);
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid var(--color-border-background-3);
  box-sizing: border-box;
  border-radius: 0px 10px 0px 0px;
  background-color: var(--color-primary-background);
}

@media screen and (min-width: 1024px) {
  .App:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.05;
    background-repeat: no-repeat;
    background-image: url("./assets/images/big-x.svg");
  }

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .app-wrapper:before {
    content: "";
    display: block;
    position: fixed;
    right: 180px;
    top: 30px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-image: url("./assets/images/bg-grid.svg");
    background-position: right;
    /* background-size: 45%; */
  }

  .app-views {
    margin-top: 30px;
  }

  /* App Sizeable */
  .main-section {
    width: 1266px;
  }

  .action-btns {
    width: 255px;
  }

  .main-wrapper-header,
  .main-wrapper-interface {
    padding-left: 90px;
  }

  .dashboard-wrapper-interface {
    padding: 30px;
  }

  .modal-dialog {
    width: 445px;
    height: 696px;
    overflow-y: initial !important;
    border-radius: 10px !important;
  }

  .modal-body {
    max-height: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .App:before,
  .app-wrapper:before {
    display: none;
  }
  .main-section > .row {
    display: block !important;
  }

  .App {
    width: 100%;
    height: 100%;
  }

  .main-wrapper-header {
    display: none;
  }
  .main-wrapper-interface {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
  }
  .modal-dialog {
    overflow-y: initial !important;
    border-radius: 10px !important;
  }
  .modal-body {
    max-height: calc(100vh - 200px);
  }
}

*::-webkit-scrollbar-track {
  background: #f1f1f100;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background: var(--color-secondary-background);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-vertical-gradient-background);
}
