/* Global Modal Styling*/
.modal-content {
  border-radius: 10px !important;
  border: none !important;
  background: none !important;
}

.modal-header {
  background: linear-gradient(270deg, #7ac2e8 0%, #236edc 100%);
  border-bottom: none !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.modal-title {
  font-family: "Azo Sans Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #E0E0E0;
  text-transform: uppercase;

}

.modal-header button.close {
  background:url(./assets/images/close.svg) 0 0 no-repeat;
  display:block;
  height:10px; /* your image height */
  text-indent:-99999em;
  width:10px; /* your image width */
  overflow:hidden;
  margin-top: 5px;
  margin-right: 5px;
}

.modal-body {
  padding: 0px !important;
}

/* Styling for the Dex and Action Buttons*/
.action-btns {
  width: 255px;
  border: 3px solid #0E1726;
  border-radius: 5px;
  
}
.action-btns .btn {

  font-family: "Azo Sans Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #828282;
  background: #050818;
  border: none;
  border-radius: 5px;
}

.action-btns .btn:hover {
  color: #F2F2F2;
  background-color:#050818;
}

.action-btns .btn#active-btn {
  color: #F2F2F2;
  background: linear-gradient(270deg, #7AC2E8 0%, #236EDC 100%);
  border-radius: 5px;
  box-shadow: none;
}

/*Main Wrapper CSS that is shared*/
.main-dashboard-wrapper,
.main-wrapper {
  background: #0E1726;
  border-radius: 10px;
}

.main-header-text {
  font-family: "Azo Sans Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.1em;
  color: #E0E0E0;
}

.main-wrapper {
  border-radius: 0px 10px 0px 0px;
}
.main-wrapper.col-lg-9 {
  padding-left: 0px;
  padding-right: 0px;
}

.main-wrapper-header {
  font-family: "Azo Sans Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  text-align: left;
  color: #E5E5E5;
  padding-top:20px;
  padding-bottom: 20px;
  background-color: #050818;
  border: 2px solid #0E1726;
  box-sizing: border-box;
  border-radius: 0px 10px 0px 0px;
}

@media screen and (min-width: 1024px) {
  .App:before {
    content: "";
    /* display: flex; */
    position: fixed;
    /* left: 10px;
  top: 0; */
    width: 100%;
    height: 100vh;
    opacity: 0.05;
    background-repeat: no-repeat;
    background-image: url("./assets/images/big-x.svg");
    /* background-position: left; */
  }

  .App {
    /* background-color: #060818; */
    /* min-height: 100vh;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .app-wrapper:before {
    content: "";
    display: block;
    position: fixed;
    right: 180px;
    top: 30px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-image: url("./assets/images/bg-grid.svg");
    background-position: right;
    /* background-size: 45%; */
  }

  .app-views {
    margin-top: 30px;
  }

  /* App Sizeable */
  .main-section {
    width: 1266px;
  }

  .action-btns {
    width: 255px;
  }

  .main-wrapper-header,
  .main-wrapper-interface {
    padding-left: 90px;
  }

  .modal-dialog {
    width: 445px;
    height: 696px;
    border-radius: 10px !important;
  }
}

@media screen and (max-width: 1024px) {
  .App:before,
  .app-wrapper:before {
    display: none;
  }
  .main-section > .row {
    display: block !important;
  }

  .App {
    width: 100%;
    height: 100%;
  }

  .main-wrapper-header {
    display: none;
  }
  .main-wrapper-interface {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
  }
  .modal-dialog {
    border-radius: 10px !important;
  }
}

*::-webkit-scrollbar-track {
  background: #f1f1f100;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background: #191E3A;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0deg, #7AC2E8 0%, #236EDC 100%);
}