/*Dark Color schemes */
$black-russian: #050818;
$black-pearl: #0e1726;
$gainsboro: #e0e0e0;
$grey: #828282;
$malibu: #62b0e5;
$matterhorn: #4f4f4f;
$midnight-express: #191e3a;
$royal-blue: #236edc;
$silver: #bdbdbd;
$white-smoke: #f2f2f2;
$whisper: #e5e5e5;

/* gradients */
$sky-blue-linear-gradient: linear-gradient(270deg, #7ac2e8 0%, #236edc 100%);
$sky-blue-vertical-gradient: linear-gradient(0deg, #7ac2e8 0%, #236edc 100%);

/*Light Color schemes */
$alabaster: #f9fafb;
$catskill-white: #f3f4f6;
$titan-white: #eaeff5;
$storm-grey: #6b7280;
$oslo-grey:#8892A4;
$white: #FFFFFF;