@font-face {
  font-family: 'Codeink Regular';
  src: url('assets/fonts/CODEINK-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Codeink Italic';
  src: url('assets/fonts/CODEINK-Italic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Nova Mono Regular';
  src: url('assets/fonts/NovaMono-Regular.ttf')  format('truetype');
}


@font-face {
  font-family: 'Azo Sans Regular';
  src: url('assets/fonts/AzoSans-Regular.ttf')  format('truetype');
}


body {
  margin: 0;
  font-family: 'Codeink Regular', 'Codeink italic', 'Nova Mono Regular', 'Azo Sans Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:focus {
  outline: none;
}

.modal-dialog {
  width: 445px;
  height: 696px;
  border-radius: 10px !important;
}

.modal-content {
  border-radius: 10px !important;
}

.modal-header {
  background: linear-gradient(270deg, #7AC2E8 0%, #236EDC 100%);
  border-bottom: none !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.modal-title {
  font-family: "Azo Sans Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #E0E0E0;
  text-transform: uppercase;

}

.modal-header button.close {
  background:url(./assets/images/close.svg) 0 0 no-repeat;
  display:block;
  height:10px; /* your image height */
  text-indent:-99999em;
  width:10px; /* your image width */
  overflow:hidden;
  margin-top: 5px;
  margin-right: 5px;
}
