@import "colors.scss";
@import "fonts.scss";

body {
  margin: 0;
  font-family: $global-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black-russian !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*:focus {
  outline: none;
}

.dark {
  --color-primary-background: #{$black-russian};
  --color-secondary-background: #{$midnight-express};
  --color-tertiary-background: #{$black-pearl};

  --color-icon-background: #{$whisper};
  --color-button-background: #{$royal-blue};

  --color-gradient-background: #{$sky-blue-linear-gradient};
  --color-vertical-gradient-background: #{$sky-blue-vertical-gradient};

  --color-text-1: #{$whisper};
  --color-text-2: #{$royal-blue};
  --color-text-3: #{$white-smoke};
  --color-text-4: #{$gainsboro};
  --color-text-5: #{$grey};
  --color-text-6: #{$malibu};
  --color-text-7: #{$silver};
  --color-text-8: #{$matterhorn};

  --color-border-background-1: #{$black-russian};
  --color-border-background-2: #{$royal-blue};
  --color-border-background-3: #{$black-pearl};
}
