@font-face {
  font-family: 'Codeink Regular';
  src: url('assets/fonts/CODEINK-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Codeink Italic';
  src: url('assets/fonts/CODEINK-Italic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Nova Mono Regular';
  src: url('assets/fonts/NovaMono-Regular.ttf')  format('truetype');
}


@font-face {
  font-family: 'Azo Sans Regular';
  src: url('assets/fonts/AzoSans-Regular.ttf')  format('truetype');
}


body {
  margin: 0;
  font-family: 'Codeink Regular', 'Codeink italic', 'Nova Mono Regular', 'Azo Sans Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #060818!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*:focus {
  outline: none;
}