.input-amount {
    font-family: "Azo Sans Regular";
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    letter-spacing: 0.1em;
    height: 61px !important;
    width: 782px !important;
    border-radius: 10px !important;
    text-transform: uppercase;
}

.input-amount.btn-primary {
    background: #236EDC;
    color: #E0E0E0;

}

.input-amount.btn-primary:disabled {
    background: #191E3A;
    color: #4F4F4F;
    border: none;
}